.navbar {
  // Basic styling of text & image
  border: none;
  font-size: 20px;
  margin: 0;

  // Classes for dynamically changing navbar with JS 
  &.navbar-transition {
   transition: background-color 0.4s ease 0.05s;   
  }  
  &.navbar-past-banner {
    background-color: black;
  }

  // Navbar collapse button
  .navbar-header {
    .navbar-toggle {
      border: none;
      font-size: 35px;
      margin: 12px;
      padding: 6px;
      line-height: $navbar-height;
      .icon-bar {
        background-color: $custom-grey;
      }
    }
    // Override the bootstrap styling for the navbar interactivity 
    .navbar-toggle,
    .navbar-toggle:active,
    .navbar-toggle:hover {
      background-color: $custom-blue;
    }
    .navbar-brand{
      padding: 0;
      img {
        height: 100%;
        width: auto;
        margin: auto;
        padding: 8px;
      }
    }
  }
  .navbar-nav {
    li {
      a {
        font-weight: lighter;
      }
    }
  }

  // Media queries 
  @media (max-width: $screen-md-min) {
    font-size: 18px;
    .navbar-brand {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }  
}

